<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Victoria Mart</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div style="padding-left: 3rem;">
          <a class="brand" href="index.html"><img src="/newvictorialogo.png" style="width:8rem; height:8rem;"/>
            <br/>
            <span style="color:red;">Victoria</span>
            <span style="color:blue;">Mart</span>
             </a>
        </div>
        <div>
          <a href="cart.html"> <img src="/shopping-cart.png" style="width:5rem;height:4rem;" alt="Cart"></a>
        </div>
        <div>
          <a href="signin.html"> <img src="/user.png" style="width:5rem;height:4rem;" alt="Sign In"></a>
        </div>
        <div>
          
        </div>
      </header>
      <main>
        <navbar>
          <div class="navbar" style="background-color:red">
  
            <nav class="navbar navbar-expand-sm navbar-light">
                <button class="navbar-toggler">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="container">
                    <div class="collapse navbar-collapse text-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="color:white">Beverages</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="color:white">Snacks</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="color:white">Healthcare</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" style="color:white">Daily Supply</a>
                            </li>
                        </ul>
                    </div>
                </div>
    
            </nav>
        </div>
        </navbar>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$120</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>